html{
	body{
		background-color: $dark;
		width: 100%;
		max-width:100vw;
		overflow-x: hidden;
		*{
			outline: none !important;
		}
		#thetop{
			position: absolute;
			top: 0;
		}
		#page{
			position: relative;
			overflow: hidden;
		}
		.container{
			position: relative;
			z-index: 1;
			max-width: 9999px !important;
			padding-left: 40px !important;
			padding-right: 40px !important;
			.content{
				padding-left: 5.5vw;
				padding-right: 5.5vw;
			}
			@media(max-width: $lg){
				.content{
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}
			@media(max-width: $md){
				padding-left: 20px !important;
				padding-right: 20px !important;
			}
		}
		section.header{
			position: relative;
			padding: 50px 0;
			h1{
				padding: 15vh 0 calc(15vh - 50px);
			}
    		#section-background{
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				max-height: 100vh;
				background-color: $dark;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				background-blend-mode: luminosity;
				&::before{
					content: '';
					position: absolute;
					z-index: 10;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $dark;
					background: linear-gradient(180deg,rgba(16, 16, 21, 0.9) 0%, rgba(16, 16, 21, 0.9) 50%, rgba(16, 16, 21, 1) 99%);
					opacity: 1;
					//mix-blend-mode: color;
				}
			}
    		#section-background-image{
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				max-height: 100vh;
				background-color: $dark;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				background-blend-mode: luminosity;
				&::before{
					content: '';
					position: absolute;
					z-index: 10;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $dark;
					background: linear-gradient(180deg,rgba(16, 16, 21, 0.7) 0%, rgba(16, 16, 21, 0.7) 50%, rgba(16, 16, 21, 1) 99%);
					opacity: 1;
					//mix-blend-mode: color;
				}
			}
		}
		.visible{
			transition: .6s opacity linear;
			&:not(.is_visible){
				opacity: 0;
			}
		}
	}
}