html{
	body{
		.forminator-ui{
			.forminator-row{
				padding: 0 10px !important;
				.forminator-col{
					padding: 0 5px !important;
				}
				.forminator-field,
				.forminator-field-time{
					.forminator-description{
						display: none !important;
					}
					label{
						font-family: $text !important;
						font-size: calc($font-size * 0.9) !important;
						font-weight: 400 !important;
						color: rgb(48, 49, 61) !important;
						margin-bottom: 0 !important;
					}
					.forminator-error-message{
						margin-bottom: 20px !important;
					}
					input{
						&[type=text],
						&[type=email],
						&[type=number]{
							height: 44px !important;
							line-height: 44px !important;
							padding-bottom: 0 !important;
							padding-top: 0 !important;
							background: $white !important;
							border: 1px solid rgb(230, 230, 230) !important;
							border-radius: 5px !important;
							margin-bottom: 20px !important;
							color: $dark !important;
							&::placeholder {
								color: $dark !important;
								opacity: .5 !important;
							}
							&::-webkit-input-placeholder {
								color: $dark !important;
								opacity: .5 !important;
							}
							&:-ms-input-placeholder {
								color: $dark !important;
								opacity: .5 !important;
							}
						}
					}
					textarea{
						padding: 10px 20px !important;
						background: $white !important;
						border: 1px solid rgb(230, 230, 230) !important;
						border-radius: 5px !important;
					}
					.forminator-button{
						position: relative;
						display: inline-block;
						-webkit-appearance: none;
						height: 50px;
						line-height: 50px;
						letter-spacing: .05em;
						padding: 0 30px 0 20px;
						margin-top: 20px !important;
						color: $primary !important;
						font-family: $subheader !important;
						font-size: $font-size !important;
						font-weight: 100 !important;
						font-style: normal;
						background-color: transparent;
						border: 1px solid $primary;
						border-radius: 5px !important;
						transition: .2s all linear;
						box-shadow: none !important;
						cursor: pointer;
						&::after{
							content: '_';
							position: absolute;
							font-weight: 700;
							bottom: 0;
							right: 15px;
						}
						&:hover{
							&::after{
								right: 8px;
							}
						}
					}
				}
			}
		}
	}
}