section#constant-introduction-section{
    position: relative;
    width: 100%;
    #section-background{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        background-color: $dark;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        &::before{
            content: '';
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $dark;
            background: linear-gradient(180deg,rgba(16, 16, 21, 0.9) 0%, rgba(16, 16, 21, 0.9) 50%, rgba(16, 16, 21, 1) 99%);
            opacity: 1;
        }
    }
    #section-background-image{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        background-color: $dark;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &::before{
            content: '';
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $dark;
            background: linear-gradient(180deg,rgba(16, 16, 21, 0.0) 0%, rgba(16, 16, 21, 0.1) 50%, rgba(16, 16, 21, 1) 99%);
            opacity: 1;
        }
    }
    .container{
        .content{
            max-width: $max-width;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            .row{
                .col{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding-top: 60px;
                    min-height: 100vh;
                    .introduction{
                        padding: 50px 0 0;
                        h1{
                            margin-top: 0;
                            margin-bottom: 30px;
                            text-shadow: 0 0 10px rgba(0,0,0,.5);
                            span{
                                display: inline-block;
                            }
                        }
                        p{
                            font-weight: 400;
                            line-height: 1.75em;
                            text-shadow: 0 0 10px rgba(0,0,0,.5);
                        }
                    }
                    .buttons{
                        padding: 20px 0 50px;
                        .button.large{
                            display: inline-block;
                            width: auto;
                            background-color: hsla(240,14%,7%,.5);
                        }
                    }
                }
            }
        }
    }
    @media(max-width: $md){
        #section-background-image{
            background-image: url(../assets/img/flock-of-parrots-mobile.jpg) !important;
            background-position: top 4vh left;
            height: 100vw;
        }
        .container{
            .content{
                .row{
                    .col{
                        .introduction{
                            padding-top: 100px;
                            h1{
                                span{
                                    display: block;
                                }
                            }
                            p{
                                line-height: 1.5em;
                                font-weight: 200;
                            }
                        }
                    }
                }
            }
        }
    }
}

section#constant-services-section{
    .row{
        .col{
            position: relative;
            padding: 50px 5.5vw;
            .service{
                text-align: center;
                img{
                    display: block;
                    width: 80px;
                    height: 80px;
                    margin: 0 auto 20px;
                    opacity: .2;
                }
                h3{
                    min-height: 2.5em;
                    @media(min-width: $xl){
                        padding: 0 10%;
                    }
                    @media(min-width: $md){
                        margin-bottom: 1em;
                    }
                }
            }
            &:nth-child(2){
                &::before,
                &::after{
                    content: '';
                    position: absolute;
                    top: calc(50% - 0px);
                    width: 1px;
                    height: 100px;
                    background-color: #29292D;
                }
                &::before{
                    left: 0;
                }
                &::after{
                    right: 0;
                }
            }
        }
    }
}

section#your-constant-advantage-section{
    margin: 50px 0 0;
    padding: 100px 0;
    background-color: #29292D;
    .row{
        .col{
            ul{
                li{
                    position: relative;
                    line-height: 1.5em;
                    font-family: $subheader;
		            font-size: calc($font-size * 1.25);
                    font-weight: 100;;
		            letter-spacing: .05em;
                    padding: 0 0 20px 1em;
                    &::before{
                        content: '_';
                        position: absolute;
                        top: 0;
                        left: .1em;
                        color: $primary;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    @media(max-width: $md){
        .row{
            .col{
                ul{
                    margin-top: 20px;
                    li{
                        font-family: $text;
                        font-size: $font-size;
                        font-weight: 600;
                        &::before{
                            left: .3em;
                        }
                    }
                }
            }
        }
    }
}

section.split-links-section{
    table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        tbody{
            width: 100%;
        }
        tr{
            width: 100%;
            td{
                position: relative;
                width: 50%;
                a{
                    display: block;
                    height: 100px;
                    line-height: 100px;
                    text-align: center;
                    transition: all .2s linear;
                    font-family: $subheader;
                    font-weight: 100;
		            font-size: calc($font-size * 1.25);
                }
                &:nth-child(1){
                    a{
                        background-color: $primary;
                        color: $dark !important;
                    }
                }
                &:nth-child(2){
                    a{
                        background-color: $dark;
                        color: $primary;
                    }
                }
            }
        }
        &:hover{
            tr{
                td{
                    a{
                        background-color: $dark !important;
                        color: $primary !important;
                        &:hover{
                            background-color: lighten($primary, 5%) !important;
                            color: $dark !important;
                        }
                    }
                }
            }
        }
    }
    &.yellow{
	    table{
		    tr{
			    td{
	                &:nth-child(1){
	                    a{
	                        background-color: $secondary !important;
	                        color: $dark !important;
	                    }
	                }
	                &:nth-child(2){
	                    a{
	                        background-color: $dark !important;
	                        color: $secondary !important;
	                    }
				    }
			    }
		    }
	        &:hover{
	            tr{
	                td{
	                    a{
	                        background-color: $dark !important;
	                        color: $secondary !important;
	                        &:hover{
	                            background-color: lighten($secondary, 5%) !important;
	                            color: $dark !important;
	                        }
	                    }
	                }
	            }
	        }
	    }
    }
    &.darken{
	    table{
		    tr{
			    td{
				    a:not(:hover){
					    opacity: .9;
				    }
			    }
		    }
	    }
    }
    @media(max-width: $md){
        table{
            display: block;
            width: 100%;
            tbody,
            tr{
                display: block;
                width: 100%;
                td{
                    display: block;
                    width: 100%;
                    &:nth-child(2){
                        a{
                            display: block;
                            background-color: hsla(0,0%,100%,.1);
                        }
                    }
                }
            }
            &:hover{
                tr{
                    td{
                        a{
                            background-color: hsla(0,0%,100%,.1) !important;
                            color: $primary !important;
                            &:hover{
                                background-color: $primary !important;
                                color: $dark !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

section#referral-cta-section{
	background-color: $secondary;
    padding: 100px 0;
    border-bottom: 2px solid $dark;
	.container{
		.content{
			.row{
				.col{
					display: flex;
					flex-direction: column;
					justify-content: center;
					*{
						color: $dark;
					}
					&:last-child{
						text-align: center;
					}
					.big-number{
						font-family: $subheader;
						font-size: clamp(150px, 13vw, 250px);
						color: $dark;
					}
					@media(max-width: $md){
						text-align: center;
						.big-number{
							padding-top: 50px;
						}
					}
					@media(max-width: $sm){
						.big-number{
							font-size: 100px;
						}
					}
				}
			}
		}
	}
}

section#build-something-great-section{
    position: relative;
    background-image: url(../assets/img/computer-in-study-2-425766212.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    &::before{
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $dark;
        opacity: .75;
    }
    #gl{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .container{
        position: relative;
        z-index: 1;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px 0;
            min-height: 100vh;
            text-align: center;
            .text{
                max-width: 600px;
                h2{
                    margin-bottom: 1em;
                }
                .button.large{
                    display: inline-block;
                    width: auto;
                }
            }
            @media(max-width: $md){
                min-height: 170vw;
            }
        }
    }
}